@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var employees = Umbraco.ContentAtRoot().OfType<Employees>().FirstOrDefault();
}

    <h1>
        @Model.Header
    </h1>
    <p>@Model.Excerpt</p>
    <p>@Model.Content</p>

@foreach (var employee in employees.Children<Employee>())
{
    <span>@employee.FullName</span>
    <span>@employee.Position</span>
    <span>@employee.Phone</span>
    <span>@employee.Email</span>
}