@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";

    var settings = Umbraco.ContentAtRoot().OfType<Settings>().FirstOrDefault();

}

<!-- Header -->
<header id="header" class="dark submenu-light" data-fullwidth="true" data-transparent="true">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="/">

                    <img class="logo-dark" src="@settings.Logo.Url" />
                    <img class="logo-default" src="@settings.Logo.Url" />
                </a>
            </div>
            <!--End: Logo-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <a class="lines-button x"> <span class="lines"></span> </a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            @foreach (var navigationItem in settings.Navigation)
                            {
                                <li>
                                    <a href="@navigationItem.Url">@navigationItem.Name</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->
<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
    <!-- Slide 1 -->
    <div class="slide kenburns" data-bg-parallax="@Model.HeaderImage.Url">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-light">
                <!-- Captions -->
                <span data-animate="fadeInUp" data-animate-delay="300" class="strong">
                    <a href="#" class="business"><span class="business">@Model.PreHeaderText</span></a>
                </span>
                <h1 data-animate="fadeInUp" data-animate-delay="600">@Model.ImageHeaderText</h1>
                <div data-animate="fadeInUp" data-animate-delay="900">
                    <a href="@Model.Link.Url" type="button" class="btn btn-rounded btn-reveal btn-reveal-left"><span>@Model.NameValue</span></a>
                </div>
                <!-- end: Captions -->
                <div class="row" style="padding-top:14%;">
                    @foreach (var column in Model.Columns)
                    {
                        <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1200">
                            <h4>@column.FrontDivHeader</h4>
                            <p>@column.FrontPageText</p>
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->

<section>
    <div class="container">
        <h2>@Model.Header</h2>
        <p>@Model.Content</p>
    </div>
</section>

@*@Html.Partial("partialServices");

@Html.Partial("ourTeam");*@



<!-- end: FULL WIDTH PAGE -->