@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";

    var settings = Umbraco.ContentAtRoot().OfType<Settings>().FirstOrDefault();

}

@Html.Partial("headerFrontPage", Model);

@Html.Partial("partialServices");

@Html.Partial("ourTeam");


<section>
    <div class="container">
        <h2>@Model.Header</h2>
        <p>@Model.Content</p>
    </div>
</section>
<!-- end: FULL WIDTH PAGE -->