@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    
    var employees = Umbraco.ContentAtRoot().OfType<Employees>().FirstOrDefault();
}

<section class="background-grey">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>OUR TEAM</h2>
            <span class="lead">Create amaThe most happiest time of the day!.</span>
        </div>
        <div class="row team-members team-members-shadow m-b-40">
            @foreach (var employee in employees.Children<Employee>())
            {
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/6.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>@employee.FullName</h3>
                            <span>@employee.Position</span>
                            <span>@employee.Phone</span>
                            <span>@employee.Email</span>
                            <p>@employee.Bio</p>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                    <i class="icon-mail"></i>
                                    <span>Mail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
               
            </div>
    </div>
</section>