@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var home = Umbraco.ContentAtRoot().OfType<Home>().FirstOrDefault();
    var services = home.Children<Services>().FirstOrDefault();

}

<section>
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h3>@services.ServicesHeader</h3>
            <p>@services.ServicesContent</p>
        </div>
        <div class="row">
            @foreach (var service in services.Children<Service>())
            {

                <div class="col-md-4">
                    <div class="service-img icon-box effect medium border center">
                        <a href="@service.Url">
                            @if (service.ServiceImage != null)
                            {

                                <img class="service-img" src="@service.ServiceImage.GetCropUrl(width: 480, height: 356,
                                        imageCropMode: global::Umbraco.Web.Models.ImageCropMode.Crop,
                                        imageCropAnchor: global::Umbraco.Web.Models.ImageCropAnchor.Center)" />
                            }

                            <h3>@service.Header</h3>
                            <p>@service.Excerpt</p>
                        </a>

                    </div>
                </div>
            }
        </div>
    </div>
</section>
